CompileFlags:
  Add:
    - "-DBOARD_HAS_PSRAM"
    - "-mfix-esp32-psram-cache-issue"
    - "-I${workspaceFolder}/esp32/.pio/libdeps/seeeduino_xiao_esp32s3/ESP32-A2DP/src"
    - "-I${workspaceFolder}/esp32/.pio/libdeps/seeeduino_xiao_esp32s3/Adafruit MAX98357 I2S Class D Mono Amp/src"
    - "-I/home/openclaw-worker/.platformio/packages/framework-arduinoespressif32/cores/esp32"
    - "-I/home/openclaw-worker/.platformio/packages/framework-arduinoespressif32/variants/seeed_xiao_esp32s3"
    - "-std=c++17"
